<div class="card text-white bg-secondary mb-3">
    <div class="card-header">{% if index is defined %}Etape {{ index }}{% else %}Etape __step__number__{% endif %}</div>
    <div class="card-body">
        <div>
            {{ include('Form/vehicule_form.html.twig', {'form': form.vehicule}) }}
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <i class="fa fa-calendar"></i> {{ form_label(form.departure) }}
                    {{ form_widget(form.departure) }}
                    <small>{{ form_help(form.departure) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.departure) }}
                    </div>
                </div>
                <div>
                    <i class="fa fa-calendar"></i> {{ form_label(form.departureDate) }}
                    {{ form_widget(form.departureDate) }}
                    <small>{{ form_help(form.departureDate) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.departureDate) }}
                    </div>
                </div>
            </div>
            <div class="col">
                <div>
                    <i class="fa fa-calendar"></i> {{ form_label(form.arrival) }}
                    {{ form_widget(form.arrival) }}
                    <small>{{ form_help(form.arrival) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.arrival) }}
                    </div>
                </div>
                <div>
                    <i class="fa fa-calendar"></i> {{ form_label(form.arrivalDate) }}
                    {{ form_widget(form.arrivalDate) }}
                    <small>{{ form_help(form.arrivalDate) }}</small>
                    <div class="form-error">
                        {{ form_errors(form.arrivalDate) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
