<div class="row">
    <div class="col">
        <div>
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
            <small>{{ form_help(form.type) }}</small>
            <div class="form-error">
                {{ form_errors(form.type) }}
            </div>
        </div>
    </div>
    <div class="col">
        <div>
            {{ form_label(form.number) }}
            {{ form_widget(form.number) }}
            <small>{{ form_help(form.number) }}</small>
            <div class="form-error">
                {{ form_errors(form.number) }}
            </div>
        </div>
    </div>
    <div class="col">
        <div>
            {{ form_label(form.seat) }}
            {{ form_widget(form.seat) }}
            <small>{{ form_help(form.seat) }}</small>
            <div class="form-error">
                {{ form_errors(form.seat) }}
            </div>
        </div>
    </div>
</div>
<div id="planeOnly" class="row">
    <div class="col">
        <div>
            {{ form_label(form.bagageDrop) }}
            {{ form_widget(form.bagageDrop) }}
            <small>{{ form_help(form.bagageDrop) }}</small>
            <div class="form-error">
                {{ form_errors(form.bagageDrop) }}
            </div>
        </div>
    </div>
    <div class="col">
        <div>
            {{ form_label(form.gate) }}
            {{ form_widget(form.gate) }}
            <small>{{ form_help(form.gate) }}</small>
            <div class="form-error">
                {{ form_errors(form.gate) }}
            </div>
        </div>
    </div>
</div>